:root {
  --bgcolor1: rgb(186, 183, 183);
  --bgcolor2: rgb(132, 134, 144);
}


header {
  display: flex;
  padding: 20px;
  background-color: var(--bgcolor2);
}

header nav {
  padding: 20px;
  margin: auto;
  background-color: var(--bgcolor1);
  justify-content: center;
  justify-content: space-evenly;
}