* {
  margin: 0;
}

:root {
  --bgcolor1: rgb(186, 183, 183);
  --bgcolor2: rgb(132, 134, 144);
}

body {
  overflow: hidden;
  height: 100%;
  display: flex;
  background-size: cover;
}

a {
  border-radius: 10px;
  padding: 200px 80px 200px 80px;
  margin: 25px;
  background-color: lightgray;
  box-shadow: 0 15px 15px rgb(100 100 100);
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

a:hover {
  transform: scale(1.12);
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.center {
  display: flex;
  justify-content: center;
}

header {
  padding: 20px;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  width: 100%;
  position: fixed;
}

#page-nav {
  padding: 40px;
  margin: 0 auto;
  width: cover;
  background-color: var(--bgcolor1);
  background-size: cover;
  display:flex; 
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  transition: all 0.2s ease-in-out;

}

#page-nav a {
  padding: 10px;
  justify-content: space-evenly;
}

#about {
  display: flex;
  flex-direction: column;
}

#projects {
  padding: 500px;
  margin: 5;
}



#net-background {
  padding: 100px;
}
